<!DOCTYPE html>
<html lang="it">
<head>
	<title>Inserisci Molleggio</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="/images/icons/favicon.ico"/>
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/util.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
<!--===============================================================================================-->

<!-- Custom fonts for this template-->
<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link href="/css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">


        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- top bar-->
                <%- include('components/topbarEmployee.ejs') %>

                <!-- Begin Page Content -->
                <div class="container-fluid">


					<div class="limiter">
						<div class="container-login100">
							<div class="wrap-login100">
								<form class="login100-form" method="post" action="/insert">
									
									<span class="login100-form-title p-b-26">
										<%= macchina %>
										<input type="hidden" name="macchina" value="<%= macchina %>">
										<input type="hidden" name="reparto" value="<%= reparto %>">
										<input type="hidden" name="tipo" value="<%= typeof tipo !== 'undefined' ? tipo : '' %>">
									</span>
									<!--Invia data e ora attuale-->
									<div>
										<%let date = new Date().toLocaleDateString('it-IT', { weekday:"long", year:"numeric", month:"short", day:"numeric"})  %>
									<%let hour = new Date().toLocaleTimeString('it-IT')  %>
									<h5><%= date %>, <%= hour %></h5>
									<br>
									</div>
									
									<input type="hidden" id="date" name="date" value="<%= new Date().toLocaleDateString('it-IT', {year:"numeric", month:"numeric", day:"numeric"}) %>">
									<input type="hidden" id="time" name="time" value="<%= hour %>">
									<!--Invia data e ora attuale
									<div class="wrap-input100 validate-input" name="prodFilo">
										<input class="input100" type="text" name="prodFilo">
										<span class="focus-input100" data-placeholder="Produttore Filo" name="prodFilo"></span>
									</div>-->

									<div name="prodFilo">
										<label for="opzioni" name="prodFilo">Seleziona un Produttore Filo: </label>
										<select class="custom-select" id="opzioni" name="prodFilo">
											<option selected value=""> Cerca Produttore </option>

										  <% options.forEach(function(option) {
											if (option.tipologia==="ProduttoreFilo") { %>
										  <option value="<%= option.ragioneSociale %>"> <%= option.ragioneSociale %> </option>
										  <% }}); %>
										</select>
									  </div>
									
									  <div name="cliente">
										<label for="opzioni" name="cliente">Seleziona un Cliente: </label>
										<select class="custom-select" id="opzioni" name="cliente">
											<option selected value=""> Cerca Cliente </option>
										  <% options.forEach(function(option) { 
											if (option.tipologia==="Cliente") { %>
											<option value="<%= option.ragioneSociale %>"> <%= option.ragioneSociale %> </option>
										  <%} }); %>
										</select>
									  </div>
									 <br>
									  									
									<!--Assemblaggio-->
									<div class="wrap-input100 validate-input" name="misuraFilo">
										<input class="input100" type="text" name="misuraFilo">
										<span class="focus-input100" data-placeholder="Misura Molleggio (cm x cm)"></span>
									</div>
									<!--Assemblaggio-->
									<div class="wrap-input100 validate-input" name="fileMolle" >
										<input class="input100" type="text" name="fileMolle">
										<span class="focus-input100" data-placeholder="file (cm x cm)"></span>
									</div>
					
									<!--Produzione Vecchia-->
									<div class="wrap-input100 validate-input" name="giriMolla">
										<span class="focus-input100" data-placeholder="Giri Molla (mm)"></span>
										<br><br>
										<select class="custom-select" type="number" name="giriMolla">
											<option selected value=""> Premi </option>
											<option value="4">4,00</option>
											<option value="5">5,00</option>
											<option value="6">6,00</option>
											<option value="7">7,00</option>
											<option value="8">8,00</option>
										</select>
									</div>
									<!--Produzione Vecchia e Nuova-->
									

									<div class="wrap-input100" name="diamFilo">
										<span class="focus-input100" data-placeholder="Diametro Filo (mm)"></span>
										<br><br>
										
										<select class="custom-select" type="number" name="diamFilo">
											<option selected value=""> Premi </option>
											<option value="1.9">1,90</option>
											<option value="2">2,00</option>
											<option value="2.1">2,10</option>
											<option value="2.2">2,20</option>
											<option value="2.3">2,30</option>
											<option value="2.4">2,40</option>
											<option value="2.5">2,50</option>
										</select>
										
									</div>
									<div class="wrap-input100 validate-input" name="portata">
										<input class="input100" type="number" name="portata" min="0" max="2000" step=1>
										<span class="focus-input100" data-placeholder="Portata (gr)"></span>
									</div>
									<!--Produzione Nuova-->
									<div class="wrap-input100 validate-input" name="peso">
										<input class="input100" type="number" name="peso" min="0.00" max="100.00" step=0.01>
										<span class="focus-input100" data-placeholder="Peso (gr)"></span>
									</div>
									
									<div class="wrap-input100 validate-input" name="quantita">
										<input class="input100" type="number" name="quantita" min="0" max="999999999" step=1>
										<span class="focus-input100" data-placeholder="<%=reparto=='imballaggio'? 'Quantità rotoli imballati' : 'Quantità molle'%>"></span>
									</div>
									<!--Produzione Nuova-->
									<div class="wrap-input100 validate-input" name="altezza">
										<input class="input100" type="number" name="altezza" min="0" max="100" step=0.5>
										<span class="focus-input100" data-placeholder="altezza (cm)"></span>
									</div>
									<!--Produzione Nuova-->
									<div class="wrap-input100 validate-input" name="cambioTelina">
										<input class="input100" type="number" name="cambioTelina" min="0" max="100" step=1>
										<span class="focus-input100" data-placeholder="Cambio Telina"></span>
									</div>
									<!--Ore standard/Ore prodotte-->
									<div class="wrap-input100 validate-input"  name="oreLav">
										<input class="input100" type="number" name="oreLav" min="1" max="12" step=1>
										<span class="focus-input100" data-placeholder="Ore Lavorate"></span>
									</div>
									<div class="wrap-input100 validate-input" name="oreFermo">
										<input class="input100" type="number" name="oreFermo" min="1" max="12" step=1>
										<span class="focus-input100" data-placeholder="Ore Fermo"></span>
									</div>
									<div class="wrap-input100 validate-input" name="cambiMacchina">
										<input class="input100" type="number" name="cambiMacchina" min="0" max="100" step=1>
										<span class="focus-input100" data-placeholder="Cambi Macchina"></span>
									</div>

									<!-- Note -->
									<div class="wrap-input100 validate-input" name="note">
										<textarea class="input100" name="note"  rows="10" cols="50" style="height: auto;" maxlength="255"></textarea>
										<span class="focus-input100" data-placeholder="Note"></span>
									</div>
	

									<div class="container-login100-form-btn">
										<div class="wrap-login100-form-btn">
											<div class="login100-form-bgbtn"></div>
											<button onclick="myFunction()" type="submit" class="login100-form-btn">
												Invia 
											</button>

											<script>
												function myFunction() {
												var txt;
												if (confirm("Invia Molleggi")) {
													txt = "Molleggi inviati oggi ";
												} else {
													txt = "Non hai inviato i molleggi!";
												}
												document.getElementById("demo").innerHTML = txt;
												}
												</script>
												
										</div>
										<p id="demo"></p>
									</div>
									
								

								<!--	<div class="text-center p-t-115">
										<span class="txt1">
											Problemi con l'account?
										</span>

										<a class="txt2" href="#">
											Clicca qui
										</a>
									</div> -->

									

								</form>                 
							
							</div>
						</div>
					</div>
					


					<div id="dropDownSelect1"></div>
			</div>
		</div>
	</div>
	
<!--===============================================================================================-->
	<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/bootstrap/js/popper.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/daterangepicker/moment.min.js"></script>
	<script src="/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/js/main.js"></script>


	<!-- Bootstrap core JavaScript-->
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

</body>
<style> 
div[name="prodFilo"]{
	display:none;
}
div[name="cliente"]{
	display:none;
}
div[name="misuraFilo"]{
	display:none;
}
div[name="fileMolle"]{
	display:none;
}

div[name="giriMolla"]{
	display:none;
}
div[name="diamFilo"]{
	display:none;
}
div[name="portata"]{
	display:none;
}
div[name="peso"]{
	display:none;
}
div[name="quantita"]{
	display:none;
}

div[name="oreLav"]{
	display:none;
}
div[name="oreFermo"]{
	display:none;
}
div[name="cambiMacchina"]{
	display:none;
}
div[name="altezza"]{
	display:none;
}
div[name="cambioTelina"]{
	display:none;
}


/* Stile di base per la select */
.custom-select {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  appearance: none;
  -webkit-appearance: none;
}

/* Stile del bordo quando la select ha lo stato di focus */
.custom-select:focus {
  outline: none;
  border-color: #80bdff; /* Cambia il colore come preferisci */
  box-shadow: 0 0 5px rgba(128, 189, 255, 0.5); /* Cambia il box-shadow come preferisci */
}

/* Stile della freccia sulla select (per browser che supportano l'attributo appearance) */
.custom-select::-ms-expand {
  display: none;
}

/* Stile della freccia sulla select (per browser WebKit come Chrome e Safari) */
.custom-select::-webkit-select {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Cpath%20fill%3D%22%23000%22%20d%3D%22M1%204.5l4%204%204-4H1z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: right 8px center;
}

/* Stile delle opzioni nella select */
.custom-select option {
  padding: 8px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #fff;
}

/* Stile delle opzioni nella select quando selezionate */
.custom-select option:checked {
  background-color: #e6f7ff; /* Cambia il colore come preferisci */
}



</style>

<script>
	//ordina gli elementi in una select
	function ordinaSelect(selectElement) {
		// Ottieni una collezione degli elementi <option>
		var options = selectElement.querySelectorAll('option');

		// Converti la collezione in un array
		var optionsArray = Array.from(options);

		// Ordina gli elementi <option> in base al loro attributo "value"
		optionsArray.sort(function(a, b) {
			var valueA = a.value;
			var valueB = b.value;
			return valueA.localeCompare(valueB);
		});

		// Imposta l'attributo "selected" sul primo elemento dell'array
		if (optionsArray.length > 0) {
			optionsArray[0].selected = true;
		}

		// Rimuovi tutti gli <option> dall'elemento <select>
		while (selectElement.firstChild) {
			selectElement.removeChild(selectElement.firstChild);
		}

		// Aggiungi gli <option> ordinati nuovamente all'elemento <select>
		optionsArray.forEach(function(option) {
			selectElement.appendChild(option);
		});
		
	}
	var reparto = "<%= reparto %>"; // La tua variabile con il valore desiderato
	var tipo = "<%= typeof tipo !== 'undefined' ? tipo : '' %>"; // La tua variabile con il valore desiderato


var prodFilo = document.querySelector('div[name="prodFilo"]'); // Seleziona l'elemento input con l'attributo "name" specifico
var cliente = document.querySelector('div[name="cliente"]'); // Seleziona l'elemento input con l'attributo "name" specifico
var misuraFilo = document.querySelector('div[name="misuraFilo"]'); // Seleziona l'elemento input con l'attributo "misuraFilo" specifico
var fileMolle = document.querySelector('div[name="fileMolle"]'); // Seleziona l'elemento input con l'attributo "name" specifico
var giriMolla = document.querySelector('div[name="giriMolla"]'); // Seleziona l'elemento input con l'attributo "name" specifico
var diamFilo = document.querySelector('div[name="diamFilo"]'); // Seleziona l'elemento input con l'attributo "name" specifico
var portata = document.querySelector('div[name="portata"]'); // Seleziona l'elemento input con l'attributo "name" specifico
var peso = document.querySelector('div[name="peso"]'); // Seleziona l'elemento input con l'attributo "name" specifico
var quantita = document.querySelector('div[name="quantita"]'); // Seleziona l'elemento input con l'attributo "name" specifico
var oreLav = document.querySelector('div[name="oreLav"]'); // Seleziona l'elemento input con l'attributo "name" specifico
var oreFermo = document.querySelector('div[name="oreFermo"]'); // Seleziona l'elemento input con l'attributo "name" specifico
var cambiMacchina = document.querySelector('div[name="cambiMacchina"]'); // Seleziona l'elemento input con l'attributo "name" specifico
var altezza = document.querySelector('div[name="altezza"]'); // Seleziona l'elemento input con l'attributo "name" specifico
var cambioTelina = document.querySelector('div[name="cambioTelina"]');

var prodFiloInput = document.querySelector('div[name="prodFilo"] select');
var clienteInput = document.querySelector('div[name="cliente"] select');
var misuraFiloInput = document.querySelector('.wrap-input100[name="misuraFilo"] input');
var fileMolleInput = document.querySelector('.wrap-input100[name="fileMolle"] input'); 
var giriMollaInput = document.querySelector('div[name="giriMolla"] select');
var diamFiloInput = document.querySelector('div[name="diamFilo"] select'); 
var portataInput = document.querySelector('.wrap-input100[name="portata"] input');
var pesoInput = document.querySelector('.wrap-input100[name="peso"] input');
var quantitaInput = document.querySelector('.wrap-input100[name="quantita"] input');
var oreLavInput = document.querySelector('.wrap-input100[name="oreLav"] input');
var cambiMacchinaInput = document.querySelector('.wrap-input100[name="cambiMacchina"] input');
var altezzaInput = document.querySelector('.wrap-input100[name="altezza"] input');
var cambioTelinaInput = document.querySelector('.wrap-input100[name="cambioTelina"] input');


if (reparto==="produzione" && tipo ==="pocket") {
	//visibilità
	prodFilo.style.display = 'block'; 
	diamFilo.style.display = 'block'; 
	peso.style.display = 'block'; 
	quantita.style.display = 'block'; 
	oreLav.style.display = 'block'; 
	portata.style.display = 'block';
	cambiMacchina.style.display = 'block';

	//required
	/*
	prodFiloInput.required = true;
	pesoInput.required = true;
	diamFiloInput.required = true;
	quantitaInput.required = true;
	oreLavInput.required = true;
	portataInput.required = true;
	cambiMacchinaInput.required = true;*/

	//aggiunta e ordinamento
	var newOption = document.createElement('option');
	newOption.value = '1.8'; 
	newOption.textContent = '1,80'; 
	diamFiloInput.appendChild(newOption);
	newOption = document.createElement('option');
	newOption.value = '1.7'; 
	newOption.textContent = '1,70'; 
	diamFiloInput.appendChild(newOption);
	ordinaSelect(diamFiloInput);

	//ordinamento prodFilo
	ordinaSelect(prodFiloInput);
		
} else if(reparto==="produzione" && tipo ==="bonnel"){
	//visivilità
	prodFilo.style.display = 'block'; 
	diamFilo.style.display = 'block'; 
	giriMolla.style.display = 'block';
	quantita.style.display = 'block'
	oreLav.style.display = 'block';
	altezza.style.display = 'block';
	peso.style.display = 'block';

	//required
	/*
	prodFiloInput.required = true;
	diamFiloInput.required = true;
	giriMollaInput.required = true;
	quantitaInput.required = true;
	oreLavInput.required = true;
	altezzaInput.required = true;
	pesoInput.required = true;*/

	//aggiunta e ordinamento
	newOption = document.createElement('option');
	newOption.value = '2.16'; 
	newOption.textContent = '2,16'; 
	diamFiloInput.appendChild(newOption);
	ordinaSelect(diamFiloInput);

	//ordinamento prodFilo
	ordinaSelect(prodFiloInput);
	ordinaSelect(giriMollaInput);

} else if(reparto==="assemblaggio" && tipo ==="pocket"){
	//visilbilità
	cliente.style.display = 'block'; 
	misuraFilo.style.display = 'block'; 
	fileMolle.style.display = 'block'; 
	quantita.style.display = 'block'; 
	oreLav.style.display = 'block'; 
	cambioTelina.style.display = 'block';

	//required
	/*
	clienteInput.required = true;
	misuraFiloInput.required = true;
	fileMolleInput.required = true;
	quantitaInput.required = true;
	oreLavInput.required = true;
	cambioTelinaInput.required = true;*/

	//ordinamento clienti
	ordinaSelect(clienteInput);

} else if(reparto==="assemblaggio" && tipo ==="bonnel"){
	//visibilità
	cliente.style.display = 'block'; 
	misuraFilo.style.display = 'block'; 
	fileMolle.style.display = 'block'; 
	quantita.style.display = 'block'; 
	oreLav.style.display = 'block'; 
	cambiMacchina.style.display = 'block'; 

	//required
	/*
	clienteInput.required = true;
	misuraFiloInput.required = true;
	fileMolleInput.required = true;
	quantitaInput.required = true;
	oreLavInput.required = true;
	cambiMacchinaInput.required = true;*/

	//ordinamento clienti
	ordinaSelect(clienteInput);
  
 } else if(reparto==="imballaggio"&& tipo ===""){
	//visibilità
	quantita.style.display = 'block'; 
	oreLav.style.display = 'block'; 

	//required
	/*
	quantitaInput.required = true;
	oreLavInput.required = true;*/
  
 }else {
  prodFilo.style.display = 'none'; // Nascondi l'input se la variabile è falsa
  misuraFilo.style.display = 'none';
  fileMolle.style.display = 'none';
  quantita.style.display = 'none';
  giriMolla.style.display = 'none';
  diamFilo.style.display = 'none';
  peso.style.display = 'none';
  oreLav.style.display = 'none';
  oreFermo.style.display = 'none';
  cliente.style.display  = 'none';
  cambiMacchina.style.display = 'none';
}
</script>

</html>
